        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">

                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu" style="margin-top:40%;">

                        <ul class="metismenu" id="side-menu">



                            <li>
                                <a href="/">
                                    <i class="fi-command"></i> <span> Add File </span>
                                </a>
                            </li>

                            <li>
                                <a href="/added/files">
                                    <i class="fi-command"></i> <span> Added Files </span>
                                </a>
                            </li>


                        </ul>

                    </div>
                    <!-- Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->
            <div class="content-page">

